vfis/n8n/workflows/on_demand_intelligence.json
{
  "name": "VFIS On-Demand Intelligence",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vfis-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "vfis-query-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Validate input\nconst body = $input.item.json;\n\nif (!body.ticker) {\n  throw new Error('ticker is required');\n}\n\nif (!body.subscriber_risk_profile) {\n  throw new Error('subscriber_risk_profile is required');\n}\n\n// Return validated data\nreturn {\n  json: {\n    ticker: body.ticker.toUpperCase(),\n    subscriber_risk_profile: body.subscriber_risk_profile.toUpperCase(),\n    query_intent: body.query_intent || null\n  }\n};"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "notes": "Validates webhook input - no business logic"
    },
    {
      "parameters": {
        "url": "http://vfis-api:8000/api/v1/query",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticker",
              "value": "={{ $json.ticker }}"
            },
            {
              "name": "subscriber_risk_profile",
              "value": "={{ $json.subscriber_risk_profile }}"
            },
            {
              "name": "query_intent",
              "value": "={{ $json.query_intent }}"
            }
          ]
        },
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-api",
      "name": "Call FastAPI /query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "notes": "Calls VFIS FastAPI /query endpoint - no business logic"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 300],
      "notes": "Returns API response to webhook caller"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-error",
      "name": "Check for Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 450],
      "notes": "Error handling - logs errors"
    },
    {
      "parameters": {
        "message": "={{ JSON.stringify($json) }}",
        "additionalFields": {}
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 500],
      "notes": "Logs errors for monitoring"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Call FastAPI /query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call FastAPI /query": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check for Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Error": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T00:00:00.000Z",
  "versionId": "1"
}

